.app.dark {
    --bg-color: #030357;
    --inverted-bg-color: #bbbcbe;
    --primary-color: #0c790c;
    --secondary-color: #13ec13;
    --inverted-primary-color: #0628af;
    --inverted-secondary-color: #1f47f1;
}
